# to get to this file
# Atom >> Open your Config

'global':
  'exception-reporting':
    'userId': 'ee4b2f76-f827-e502-98f2-518ce4b1d4cd'
  'welcome':
    'showOnStartup': false
  'core':
    'themes': [
      'atom-dark-ui'
      'monokai'
    ]
    'disabledPackages': [
      'tabs'
      'tree-view'
    ]
  'editor':
    'softWrap': true
    'showIndentGuide': true
    'fontSize': 18
  'tabs-to-spaces':
    'onSave': 'untabify'
  'tabs':
    'showIcons': true
  'tree-view':
    'hideVcsIgnoredFiles': false
    'hideIgnoredNames': false
    'showOnRightSide': false
'.erb.html.source':
  'editor':
    'tabLength': 2
'.haml.html.source':
  'editor':
    'tabLength': 2
'.coffee.js.source':
  'editor':
    'tabLength': 2
'.js.source':
  'tabs-to-spaces':
    'onSave': 'none'
'.shell.source':
  'editor':
    'tabLength': 4
'.python.source':
  'editor':
    'tabLength': 4
'.java.source':
  'editor':
    'tabLength': 4
'.c.source':
  'editor':
    'tabLength': 4
'.html.source':
  'editor':
    'tabLength': 4
'.rb.source':
  'editor':
    'tabLength': 2

